@charset "utf-8";

/* CSS Document */

.w {
	width: 1240px;
	margin: 0 auto;
}


/*===========header============*/

header #t {
	height: 30px;
	background: #eeeeee;
	line-height: 30px;
}

header #t p {
	font-size: 13px;
	color: #111;
}

header #t ul {}

header #t ul li {}

header #t ul li a {
	border-right: 1px solid #ccc;
	padding: 0 15px;
}

header #t ul li:first-child a {
	border-right: 0;
}

header #t ul li:last-child a {
	border-right: 0;
	background: url(../images/images/b.png) no-repeat 15px;
	padding-left: 36px;
}

header #h-c {
	height: 100px;
}

header #h-c h1 {
	margin-top: 25px;
}

header #h-c .c-r {
	height: 30px;
	margin-top: 25px;
}

header #h-c .c-r .ipt-1 {
	width: 325px;
	height: 100%;
	padding-left: 3px;
}

header #h-c .c-r .car {
	display: inline-block;
	background-color: #bb1e7b;
	height: 100%;
	vertical-align: middle;
	margin-left: 30px;
	margin-bottom: 5px;
	padding: 0 5px;
}

header #h-c .c-r .car .c-t {
	display: inline-block;
	width: 20px;
	height: 100%;
	background: url(../images/images/gouwu.png) no-repeat center;
}

header #h-c .c-r .car .c-w {
	color: #fff;
	display: inline-block;
	height: 100%;
	line-height: 30px;
	font-size: 19px;
	vertical-align: top;
}

nav {
	background: #222;
	height: 45px;
}

nav .nav-1 {}

nav .nav-1 .nav-ul {
	display: flex;
	justify-content: center;
}

nav .nav-1 .nav-ul li {}

nav .nav-1 .nav-ul li .nav-a {
	color: #fff;
	font: 19px/43px "";
	padding: 0 27px;
}

nav .nav-1 .nav-ul .nan {
	position: relative;
}

nav .nav-1 .nav-ul .nan .a-1 {
	position: absolute;
	background: #fff;
	width: 1200px;
	height: 370px;
	left: -300px;
	border-bottom: 5px solid #bb1e7b;
	display: none;
	z-index: 100;
}

nav .nav-1 .nav-ul .jz .a-1 {
	position: absolute;
	background: #fff;
	width: 1200px;
	height: 370px;
	left: -600px;
	border-bottom: 5px solid #bb1e7b;
	display: none;
}

nav .nav-1 .nav-ul .df .a-1 {
	position: absolute;
	background: #fff;
	width: 1200px;
	height: 370px;
	left: -500px;
	border-bottom: 5px solid #bb1e7b;
	display: none;
}

nav .nav-1 .nav-ul .show:hover .a-1 {
	display: block;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-1 {
	width: 100px;
	margin-left: 35px;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-1 li {
	width: 100%;
	font: 18px/40px "";
}

nav .nav-1 .nav-ul .nan .a-1 .ul-1 .te {
	font: 700 24px/50px "";
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 {
	width: 300px;
	padding-left: 35px;
	margin-left: 35px;
	border-left: 1px dotted #ccc;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 li {
	width: 100%;
	font: 18px/40px "";
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 .te {
	font: 700 24px/50px "";
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 {
	width: 220px;
	height: 140px;
	border: 1px solid #bb1e7b;
	color: #bb1e7b;
	margin-top: 40px;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 .p-1 {
	font: 27px/30px "";
	text-align: center;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 .p-2 {
	text-align: center;
	color: #bb1e7b;
}

nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 .p-2 a {
	color: #bb1e7b;
}

/*=======================内容区域============================================*/
section .tt .ttp{
	margin: 25px auto 22px;
}

section .tt .ttp span{
	padding: 0 16px;
}
section .jing .zuo{
	width: 565px;
    height: 500px;
    margin-right: 50px; 
}
section .jing .zuo .box{
	width: 450px;
    height: 450px;
    margin-right: 30px;
    margin-bottom: 20px;
      position: relative;
}
section .jing .zuo .box #mirror{
	width: 100px;
	height: 100px;
	display: inline-block;
	background:rgba(110,120,000,.5);
	
	z-index: 50;
}
section .jing .zuo .box img{
	width: 420px;
	height: 420px;
	  position:absolute;
}
section .jing .zuo .box #box1{
	position: absolute;
	top:0px;
	left:400px;
	width: 400px;
    height: 400px;
    overflow: hidden;
	z-index: 3;
}
section .jing .zuo .box #box1 img{
	width: 800px;
    height: 800px;	
}





















section .jing .zuo .xiao{
	width: 65px;
    height: 450px;
    position: relative;
}
section .jing .zuo .xiao img{
	width: 65px;
	height:65px;
}

section .jing .you {
	width: 585px;	
}

section .jing .you .r-t{	
	height: 64px;
}

section .jing .you .r-t h3{
	font-size: 30px;
    color: #222;
    line-height: 33px;
}
section .jing .you .r-t .rp1{
	font-size: 16px;
    color: #222;
    margin-top: 15px;
   
}
section .jing .you .r-c{
	background: #F7F4F6;
    margin-top: 25px;
    padding: 20px 0 15px 20px;
    margin-bottom: 20px;
}
section .jing .you .r-c .rp2{
	
}
section .jing .you .r-c .rp2 span{
	width: 90px;
	display: inline-block;
    font-size: 13px;
    color: #222;
     margin-right: 10px;
}
section .jing .you .r-c .rp2 i{
	text-decoration: none;
    font-size: 16px;  
     font-style:normal;
    color: #BB1E7B;
}
section .jing .you .r-c .rp2 b{
	font-size: 24px;
    margin-right: 10px;
    color: #BB1E7B;
}
section .jing .you .r-c .rp2 s{
	line-height: 40px;
    font-size: 16px;
    color: #AAA;
}
section .jing .you .r-c .rp3{}
section .jing .you .r-c .rp3 span{
	width: 90px;
	display: inline-block;
    font-size: 13px;
    color: #222;
	margin-right: 10px;
}
section .jing .you .r-c .rp3 i{
	font-style:normal;
    color: #BB1E7B;
    font-size: 13px;
}
section .jing .you .r-c .rp4{
	    line-height: 35px;
}

section .jing .you .r-c .rp4 span{
	width: 90px;
	display: inline-block;
    font-size: 13px;
    color: #222;
	margin-right: 10px;
	
}
section .jing .you .r-c .rp4 b{
	margin-right: 20px;	
}
section .jing .you .r-c .rp4 b i{
	display: inline-block;
	width: 4px;
	height: 4px;
	background: url(../images/details/dian.png) no-repeat center;
	padding-left:5px ;
}
section .jing .you .r-b{
	margin-top: 23px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 13px;
    color: #222;
}
section .jing .you .r-b span{
    padding-right: 50px;
}
section .jing .you .r-bb{}
section .jing .you .r-bb .jia{
	color: #BB1E7B;
    padding-left: 20px;
    display: inline-block;
    width: 148px;
    height: 48px;
    border: solid 1px #BB1E7B;
    font-size: 18px;
    text-align: center;
    line-height: 48px;

}
section .jing .you .r-bb .jia span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/details/gou.png) no-repeat center;
}

section .jing .you .r-bb .mai{
	color: #FFF;
    background: #BB1E7B;
    margin-left: 20px;
    display: inline-block;
    width: 168px;
    height: 48px;
    border: solid 1px #BB1E7B;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    
}

section .m{}
section .m .zuo{
	width: 908px;
    height: auto;
    float: left;
    border: solid 1px #DDD;
    padding-bottom: 50px;
}
section .m .zuo .lul{
	width: 100%;
    height: 44px;
    background: #F4F4F4;
    border-bottom: solid 1px #DDD;
}

section .m .zuo .lul li{
	line-height: 44px;
    width: 175px;
    text-align: center;
    float: left;
    cursor: pointer;
    border-right: solid 1px #DDD;
    border-top: solid 1px #F4F4F4;
}
section .m .zuo .lul .te{
	border-top: solid 1px #BB1E7B;
    background: #fff;
}
section .m .zuo .div1{}

section .m .zuo .div1 .di1{
	text-align: center;
}
section .m .zuo .div1 .di1 h2{
	margin-top: 40px;
    font-size: 24px;
    color: #222;
    margin-bottom: 8px;
}
section .m .zuo .div1 .di1 p{}
section .m .zuo .div1 .di2{
	margin-top: 10px;
}
section .m .zuo .div1 .di2 .ub{
	height: 30px;
    width: 830px;
    border-bottom: solid 1px #DDD;
    margin: 0 auto;
    margin-bottom: 30px;
}

section .m .zuo .div1 .di2 .di2-ul li{
	max-width: 240px;
    width: 240px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 13px;
    color: #222;
    height: 13px;
}
section .m .zuo .div1 .di2 .di2-ul li span{}
section .m .zuo .div1 .di2 .d1{
	text-align: center;
}
section .m .zuo .div1 .di2 .d1 h2{
	margin-top: 40px;
    font-size: 24px;
    color: #222;
    margin-bottom: 8px;

}
section .m .zuo .div1 .di2 .d1 p{}

section .m .zuo .div1 .di2 .d2{}

section .m .zuo .div1 .di2 .d2 p{
	line-height: 24px;
	margin: 30px 0 0;
    width: 790px;
    max-width: 830px;
    padding: 0 40px;
}
section .m .zuo .div1 .di2 .d2 .d2-ul{}
section .m .zuo .div1 .di2 .d2 .d2-ul li{
	max-width: 868px;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
}
section .m .zuo .div1 .di2 .d2 .d2-ul li img{
	width: 100%;
	height: 100%;
}



section .m .zuo .div1 .di2{}


































section .m .you{
	width: 258px;
    height: auto;
    float: left;
    border: solid 1px #DDD;
    margin-left: 30px;
}
section .m .you h2{
	height: 44px;
    line-height: 44px;
    background: #F4F4F4;
    font-size: 18px;
    color: #2222;
    text-align: center;
    border-bottom: solid 1px #DDD;
    
}
section .m .you .m-r{}
section .m .you .m-ul{}
section .m .you .m-ul li{
	margin-bottom: 30px;
}
section .m .you .m-ul li img{
	width: 80px;
    height: 80px;
    margin-left:15px;
}
section .m .you .m-ul li p{
	font-size: 13px;
    color: #222;
    line-height: 20px;
    max-width: 130px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 10px;
    height: 40px;
  	margin-right:15px;
}
section .m .you .m-ul li span{
	color: #BB1E7B;
    font-size: 13px;
    margin-right: 56px;
}






























/*=============================================================公用部分=======================================================*/
#b {
	height: 225px;
	background: #F2F2F2;
	margin-top: 60px;
}

#b .bl {}

#b .bl .bb {
	text-align: center;
	width: 399px;
	height: 165px;
	border-right: 1px solid #ccc;
}

#b .bl .bb h2 {
	color: #222;
	margin: 30px 0;
	font-size: 18px;
}

#b .bl .bb h1 {
	font-size: 28px;
	color: #222;
}

#b .bl .bb p {
	margin-top: 12px;
	font-size: 13px;
}

#b .bc .bb {
	width: 399px;
	height: 165px;
	border-right: 1px solid #ccc;
}

#b .bc .bb h2 {
	color: #222;
	margin: 30px 0;
	font-size: 18px;
	text-align: center;
}

#b .bc .bb .p {
	width: 330px;
	font-size: 13px;
	color: #222;
	margin: 0 auto;
	margin-bottom: 0px;
	text-align: left;
	margin-bottom: 25px;
	line-height: 20px;
	position: relative;
}

#b .bc .bb .p i {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/images/vx.png);
	position: absolute;
	top: -4px;
	left: 70px;
}

#b .bc .bb .p i b {
	display: none;
	width: 92px;
	height: 92px;
	border: 1px solid #ccc;
	padding: 2px;
	background: url(../images/images/two.png) no-repeat center;
	position: absolute;
	top: 33px;
	left: -28px;
	z-index: 10;
	background-color: #fff;
}

#b .bc .bb .p i:hover b {
	display: block;
}

#b .br .bb {
	width: 399px;
	height: 165px;
	text-align: center;
}

#b .br .bb h2 {
	color: #222;
	margin: 30px 0;
	font-size: 18px;
	text-align: center;
}

#b .br .bb img {
	margin: 0 auto;
}

#b .br .bb p {
	margin-top: 12px;
	font-size: 13px;
}

/*============================================footer=========================================*/

footer {
	background: #444444;
	height: 240px;
}

footer .t {
	height: 109px;
	border-bottom: 1px solid #555;
}

footer .t ul {
	display: flex;
	justify-content: space-between;
}

footer .t ul li {
	position: relative;
	width: 400px;
	line-height: 109px;
}

footer .t ul li b {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 30px;
	left: 90px;
}

footer .t ul li span {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	top: 5px;
	left: 155px;
}

footer .t ul li .b1 {
	background: url(../images/images/b_z.png) no-repeat center;
}

footer .t ul li .b2 {
	background: url(../images/images/b_bao.png) no-repeat center;
}

footer .t ul li .b3 {
	background: url(../images/images/7day.png) no-repeat center;
}

footer .b {}

footer .b p {
	color: #BBB;
	font-size: 15px;
	line-height: 28px;
}

footer .b .b-p {
	margin: 20px 0 15px 0;
}

footer .b .b-p a {
	color: #BBB;
	font-size: 13px;
}

footer .b span {
	padding: 0 20px;
	color: #555555;
}

footer .b p i {
	width: 17px;
	height: 21px;
	display: inline-block;
	background: url(../images/images/a1.jpg) no-repeat;
	margin: 0 0 1px 10px;
}

footer .b ul {
	display: flex;
	justify-content: space-between;
	width: 340px;
	height: 80px;
	margin-top: 20px;
	flex-wrap: wrap;
}

footer #ding {
	width: 50px;
	height: 50px;
	position: fixed;
	top:50% ;
	left: 96%;
	border: 1px solid #222;
	text-align: center;
}
footer #ding a{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/images/ding.png) no-repeat center;
}



































