@charset "utf-8";
/* CSS Document */
.w{
	width:1240px;
	margin:0 auto;	
}
html,body{
	height: 100%;
	width: 100%;
}
/*===========header============*/
header #t{
	height:30px;
	background:#eeeeee;
	line-height:30px;	
}
header #t p{
	font-size:13px;
	color:#111;	
}
header #t ul{}
header #t ul li{}
header #t ul li a{
	border-right:1px solid #ccc;
	padding:0 15px;	
}
header #t ul li:first-child a{
	border-right:0;
}
header #t ul li:last-child a{
	border-right:0;
	background:url(../images/images/b.png) no-repeat 15px;
	padding-left:36px;
}
header #h-c{
	height:100px;
}
header #h-c h1{
	margin-top:25px;
}
header #h-c .c-r{
	height:30px;
	margin-top:25px;
}
header #h-c .c-r .ipt-1{
	width:325px;
	height:100%;
	padding-left:3px;
}
header #h-c .c-r .car{
	display:inline-block;
	background-color:#bb1e7b;
	height:100%;
	vertical-align:middle;
	margin-left:30px;
	margin-bottom:5px;
	padding:0 5px;	
}
header #h-c .c-r .car .c-t{
	display:inline-block;
	width:20px;
	height:100%;
	background:url(../images/images/gouwu.png) no-repeat center;	
}
header #h-c .c-r .car .c-w{	
	color:#fff;
	display:inline-block;
	height:100%;
	line-height:30px;
	font-size:19px;
	vertical-align:top;	
}
nav{
	background:#222;
	height:45px;
}
nav .nav-1{
}
nav .nav-1 .nav-ul{
	display:flex;
	justify-content:center;
}
nav .nav-1 .nav-ul li{
	
}
nav .nav-1 .nav-ul li .nav-a{
	color:#fff;
	font:19px/43px "";
	padding:0 27px;
}
nav .nav-1 .nav-ul .nan{
	position:relative;
}
nav .nav-1 .nav-ul .nan .a-1{
	position:absolute;
	background:#fff;
	width:1200px;
	height:370px;
	left:-300px;
	border-bottom:5px solid #bb1e7b;
	display:none;
	z-index:100;
}
nav .nav-1 .nav-ul .jz .a-1{
	position:absolute;
	background:#fff;
	width:1200px;
	height:370px;
	left:-600px;
	border-bottom:5px solid #bb1e7b;
	display:none;
}
nav .nav-1 .nav-ul .df .a-1{
	position:absolute;
	background:#fff;
	width:1200px;
	height:370px;
	left:-500px;
	border-bottom:5px solid #bb1e7b;
	display:none;
}

nav .nav-1 .nav-ul .show:hover .a-1{
	display:block;
}
nav .nav-1 .nav-ul .nan .a-1 .ul-1{
	width:100px;
	margin-left:35px;
}
nav .nav-1 .nav-ul .nan .a-1 .ul-1 li{
	width:100%;
	font:18px/40px "";
}
nav .nav-1 .nav-ul .nan .a-1 .ul-1 .te{
	font:700 24px/50px "";
	border-bottom:1px solid #ccc;
	padding-top:15px;
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2{
	width:300px;
	padding-left:35px;
	margin-left:35px;
	border-left:1px dotted #ccc;
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2 li{
	width:100%;
	font:18px/40px "";
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2 .te{
	font:700 24px/50px "";
	border-bottom:1px solid #ccc;
	padding-top:15px;
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1{
	width:220px;
	height:140px;
	border:1px solid #bb1e7b;
	color:#bb1e7b;
	margin-top:40px;	
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 .p-1{
	font:27px/30px "";
	text-align:center;
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 .p-2{
	text-align:center;
	color:#bb1e7b;	
}
nav .nav-1 .nav-ul .nan .a-1 .ul-2 .li-1 .p-2 a{
	color:#bb1e7b;	
}
section .bo .swiper-container {
	margin-top:30px;
	width: 790px;
	height: 450px;
}
section .r-1{
	background:#7D729A;
	width: 340px;
	height: 480px;
	position: relative;
}
section .r-1 .p-3{
	margin:30px 30px 20px 20px;
	font-size:20px;
	color:#fff;
}
section .r-1 .p-3 span{
}
section .r-1 .p-3 a{
	font-size:20px;
	color:#fff;
}
section .r-1 .dl-1{
	position:absolute;
	left:-40px;
	top:75px;
	background:#f2f2f2;
}
section .r-1 .dl-1 dd{
	padding:10px;
}
section .r-1 .dl-1 dd b{
	font-size:24px;
	color:#BB1E7B;
}
section .r-1 .dl-1 dd span{
	font-size:12px;
	color:#BB1E7B;
}
section .r-1 .dl-2{
	position:absolute;
	left:-40px;
	top:335px;
	background:#f2f2f2;
}
section .r-1 .dl-2 dd{
	padding:10px;
}
section .r-1 .dl-2 dd b{
	font-size:24px;
	color:#BB1E7B;
}
section .r-1 .dl-2 dd span{
	font-size:12px;
	color:#BB1E7B;
}
#san .san{
	margin-top:123px;
	height:480px;
}
#san .san .san-l{
	width: 580px;
	height: 480px;
	position: relative;
	float: left;
	margin-right: 40px;
	position:relative;
}
#san .san .san-l .cen3{
	width: 450px;
	height: 145px;
	background: #BA7D50;
	float: right;
	padding-top: 15px;
}
#san .san .san-l .cen3 p{
	position: absolute;
	left: 190px;
	top: 20px;
	font-size: 20px;
	text-align: center;
	color: #FFF;
	width: 320px;
}
#san .san .san-l .cen2{
	position:absolute;
	top:78px;
	left:0px;
}
#san .san .san-l .cen1{
	width: 420px;
	height: 40px;
	background: #FFF;
	position: absolute;
	top: 78px;
	right: 30px;
}
#san .san .san-l .cen1 p{
	color: #222;
	font-size: 16px;
	line-height: 40px;
	text-align: center;	
}
#san .san .san-r{
	height:500px;
	width:400px;
	position: relative;
}
#san .san .san-r .cen-3{
	background: #5184BB;
	position: absolute;
	top: 320px;
	left: 5px;
	width: 450px;
	height: 160px;
}
#san .san .san-r .cen-3 p{
	margin-top: 80px;
	line-height: 60px;
	color: #FFF;
	text-align: center;
	font-size: 20px;
}
#san .san .san-r .cen-2{
	position: absolute;
	top:0px;
	left:30px;	
}
#san .san .san-r .cen-1{
	width: 425px;
	height: 40px;
	background: #FFF;
	position: absolute;
	top: 360px;
	left:30px ;
}
#san .san .san-r .cen-1 p{
	color: #222;
	font-size: 16px;
	line-height: 40px;
	text-align: center;

}
#san .si{
	height: 365px;
	margin-top: 45px;
	overflow: hidden;
}
#san .si .si-l{
	width: 370px;
	height: 365px;
	position: relative;
}
#san .si .si-l .cen-3{
	position: absolute;
	width: 320px;
	height: 160px;
	background: #BA5052;
	bottom: 0px;
}
#san .si .si-l .cen-3 p{
	text-align: center;
	font-size: 20px;
	color: #FFF;
	margin-top: 115px;
}
#san .si .si-l .cen-2{
	position: absolute;
	top:0px;
	right: 0px;
}
#san .si .si-l .cen-1{
	
}
#san .si .si-l .cen-1 p{
	position: absolute;
	top:245px;
	left: 20px;
	background: #fff;
	width:301px;
	height:40px;	
	text-align: center;
	font:18px/40px "";
}
#san .si .si-c{
	width: 370px;
	height: 365px;
	margin-left: 45px;
	position: relative;
	
}
#san .si .si-c .cen-3{
width: 320px;
height: 160px;
background: #827879;
position: absolute;	
}
#san .si .si-c .cen-3 p{
	text-align: center;
	font-size: 20px;
	color: #FFF;
	line-height: 80px;
}
#san .si .si-c .cen-2{
	position: absolute;
	top:80px;
	right: 0px;
}
#san .si .si-c .cen-1{
	width: 300px;
	height: 40px;
	background: #FFF;
	position: absolute;
	left: 20px;
	top: 80px;

}
#san .si .si-c .cen-1 p{
	text-align: center;
	font:18px/40px "";	
}
#san .si .si-r{
	width: 370px;
	height: 365px;
	margin-left: 45px;
	position: relative;
	
}
#san .si .si-r .cen-3{
	position: absolute;
	width: 320px;
	height: 160px;
	background: #BB9B50;
	bottom: 0px;	
}
#san .si .si-r .cen-3 p{
	text-align: center;
	font-size: 20px;
	color: #FFF;
	margin-top: 115px;	
}
#san .si .si-r .cen-2{
	position: absolute;
	top:0px;
	right: 0px;	
}
#san .si .si-r .cen-1{
	
}
#san .si .si-r .cen-1 p{
	position: absolute;
	top:245px;
	left: 20px;
	background: #fff;
	width:301px;
	height:40px;	
	text-align: center;
	font:18px/40px "";	
}
#si{
	margin-top: 60px;
}
#si ul{}
#si ul li{
	text-align: center;	
	margin-right: 40px;
}
#si ul li img{
	border:1px solid #ccc;
	padding: 15px 25px;	
}
#si ul li span{
	font:12px/36px "";
	line-height: 36px;
}
#si ul .geng{
	height:100px;
	line-height: 100px;
}
#b{
	height: 225px;
	background: #F2F2F2;
	margin-top: 60px;
}
#b .bl{}
#b .bl .bb{
	text-align: center;
	width: 399px;
	height: 165px;
	border-right: 1px solid #ccc;
}
#b .bl .bb h2{
	color: #222;
	margin:30px 0;
	font-size: 18px;
}
#b .bl .bb h1{
	font-size: 28px;
	color: #222;
}
#b .bl .bb p{
	margin-top: 12px;
	font-size: 13px;
}
#b .bc .bb{
	
	width: 399px;
	height: 165px;
	border-right: 1px solid #ccc;
}
#b .bc .bb h2{
	color: #222;
	margin:30px 0;
	font-size: 18px;
	text-align: center;
}
#b .bc .bb .p{
	width: 330px;
	font-size: 13px;
	color: #222;
	margin: 0 auto;
    margin-bottom: 0px;
	text-align: left;
	margin-bottom: 25px;
	line-height: 20px;
	position: relative;
}
#b .bc .bb .p i{
	display:inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/images/vx.png);
	position: absolute;
	top:-4px;
	left:70px;
}
#b .bc .bb .p i b{
	display: none;
	width:92px;
	height: 92px;
	border: 1px solid #ccc;
	padding: 2px;
	background: url(../images/images/two.png) no-repeat center;
	position: absolute;
	top:33px;
	left: -28px;
	z-index: 10;
	background-color: #fff;
}
#b .bc .bb .p i:hover b{
	display: block;
}
#b .br .bb{	
	width: 399px;
	height: 165px;
	text-align: center;
}
#b .br .bb h2{
	color: #222;
	margin:30px 0;
	font-size: 18px;
	text-align: center;
}
#b .br .bb img{
	margin: 0 auto;
}
#b .br .bb p{
	margin-top: 12px;
	font-size: 13px;
}

/*============================================footer=========================================*/
footer{
	background:#444444;
	height: 240px;
}
footer .t{
	height: 109px;
	border-bottom: 1px solid #555;
}
footer .t ul{
	display: flex;
	justify-content:space-between;
}
footer .t ul li{
	position: relative;
	width: 400px;
	line-height: 109px;

}
footer .t ul li b{
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top:30px;
	left:90px;
}
footer .t ul li span{
	color:#fff;
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	top: 5px;
	left: 155px;
}
footer .t ul li .b1{
	background: url(../images/images/b_z.png) no-repeat center;
}
footer .t ul li .b2{
	background: url(../images/images/b_bao.png) no-repeat center;
}
footer .t ul li .b3{
	background: url(../images/images/7day.png) no-repeat center;
}
footer .b{}

footer .b p{
	color: #BBB;
	font-size: 15px;
	line-height: 28px;
}

footer .b .b-p{
margin: 20px 0 15px 0;
}
footer .b .b-p a{
	color: #BBB;
	font-size: 13px;
}
footer .b span{
	padding:0 20px;
	color: #555555;
}
footer .b p i{
	width: 17px;
	height: 21px;
	display: inline-block;
	background: url(../images/images/a1.jpg) no-repeat;
	margin:0 0 1px 10px;	
}
footer .b ul{
	display: flex;
	justify-content: space-between;
	width: 340px;
	height: 80px;
	margin-top: 20px;
	flex-wrap: wrap;
}
footer #ding {
	width: 50px;
	height: 50px;
	position: fixed;
	top:50% ;
	left: 96%;
	border: 1px solid #222;
	text-align: center;
}
footer #ding a{
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../images/images/ding.png) no-repeat center;
}



















































































